@media only screen and (max-width: 800px) {
  .home-page {
    font-size: 3.5rem !important;
    line-height: 3.3rem !important;
    font-weight: 500 !important;
  }
  .home-page-footer {
    margin-bottom: 4.5rem !important;
  }

  .home-page > div > span {
    line-height: 65px !important;
  }
  .animation {
    font-size: 18px !important;
    width: fit-content;
  }
}

.home-page-container {
  min-height: 100vh;
  width: 100%;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.home-page-header {
  height: 50px;
  display: flex;
  align-items: center;
}

.home-page {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  font-size: 5.5rem;
  font-weight: 500;
  position: relative;
  line-height: 80px;
  letter-spacing: var(--heading-letter-spacing);
  position: relative;
}

.home-page > div > p > span {
  color: var(--section-color);
}

.home-page > div > span {
  line-height: 7rem;
}

.home-page-footer {
  width: 130px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 25px;
}
* {
  margin: 0;
  padding: 0;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: #000;
}
a {
  text-decoration: none;
  color: inherit;
  font-size: 24px;
}

.animation {
  width: 100%;
  font-weight: 700;
  text-align: center;
  font-size: 40px;
  font-family: Hack, sans-serif;
  text-transform: uppercase;
  background: linear-gradient(90deg, #000, #fff, #000);
  letter-spacing: 5px;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  background-repeat: no-repeat;
  background-size: 80%;
  animation: shine 5s linear infinite;
  position: relative;
}

@keyframes shine {
  0% {
    background-position-x: -500%;
  }
  100% {
    background-position-x: 500%;
  }
}
